header{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logoAndText{
    width: 100%;
    align-items: center;
    justify-content: center;
}

#logoAndText h1, #logoAndText h2{
    width: 100%;
}

#logoAndText h1, #logoAndText h2{
    margin-left: 0px;
    text-align: center;
}

#logoAndText img{
    width: 200px;
    margin-left: 0px;
    margin: 0px auto;
}

nav{
    width: 100%;
    align-items: center;
    justify-content: center;
}

nav ul{
    width: 50%;
    margin: 0px auto;
    justify-content: center;
}

nav ul li{
    margin: 0px 5px;
}

#utilities{
    width: 100%;
}

#searchBar{
    width: 50%;
    margin: 25px auto;
}

#filterBar{
    width: 100%;
    margin-left: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter .filterText h2{
    margin: 0px 40px;
    font-size: 25px;
}

#hotelContainer{
    width: 100%;
    flex-direction: column;
    justify-content: none;
}

#hotelBox{
    width: 94%;
    margin: 25px 3%;
}

#mostPopularHotelBox{
    height: 650px;
    width: 94%;
    margin: 25px 3%;
}

#mostPopularHotelResult{
    height: 90%;
}

#mostPopularHotelResult a{
    height: 30%;
}

#activityContainer h2{
    margin: 25px 0px 0px 3%;
}

#activityBox{
    height: 2000px;
    flex-direction: column;
}

.activityGroup{
    height: 450px;
    width: 100%;
}

.activity img{
    object-fit: contain;
}

