/* hotelResult */

#hotelResult{
    align-items: center;
    justify-content: center;
}

/* hotelResult a */

#hotelResult a{
    width: 90%;
}

footer{
    height: fit-content;
    flex-direction: column;
}

footer #footerContainer{
    height: fit-content;
    flex-direction: column;
}

footer #hebergements, footer #assistance{
    margin: 0px auto;
}

footer .footerItem{
    width: 50%;
    margin: 0px auto;
}

footer .footerItem label{
    text-align: center;
}

footer .footerItem ul{
    width: 100%;
}

footer .footerItem ul li{
    width: 100%;
    text-align: center;
}