/* all page ---------------------------------------------------*/

*{
    box-sizing: border-box;
}

/* general class ---------------------------------------------------*/

/* all h ---------------------------------------------------*/

/* h1 */

h1{
    font-family: Raleway-Bold;
}

/* h2 */

h2{
    font-family: Raleway-Medium;
}

/* h3 */

h3{
    font-family: Raleway-Regular;
}

/* text ---------------------------------------------------*/

.text{
    margin: 0px;
    padding: 0px;
}

/* ul ---------------------------------------------------*/

ul{
    margin: 0px;
    padding: 0px;
}

/* li ---------------------------------------------------*/

li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* a ---------------------------------------------------*/

a{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}

/* html ---------------------------------------------------*/

html{
    width: 100%;
}

/* body ---------------------------------------------------*/

body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    
}

/* header ---------------------------------------------------*/

header{
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* logoAndText ---------------------------------------------------*/

#logoAndText{
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* logoAndText img */

#logoAndText img{
    width: 30%;
    margin-left: 5%;
}

/* logoAndText h1 */

#logoAndText h1, h2{
    margin-left: 5%;
}

/* logoAndText h2 */

#logoAndText h2{
    color: grey;
}

/* nav ---------------------------------------------------*/

nav{
    width: 50%;
    display: flex;
    flex-direction: row;
}

/* nav ul */

nav ul{
    width: 100%;
    margin: 0px 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* nav ul li */

nav ul li{
    height: fit-content;
    width: fit-content;
    margin: 0px 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

/* nav ul li:hover */

nav ul li:hover{
    border-top: 3px solid #0065FC;
}

/* nav ul li a */

nav ul li a{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* nav ul li h1 */

nav ul li h1{
    width: 100%;
    color: #0065FC;
    overflow: auto;
}

/* utilities ---------------------------------------------------*/

#utilities{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* searchBar ---------------------------------------------------*/

#searchBar{
    width: 25%;
    margin-top: 3%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #F2F2F2;
    border-radius: 15px;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.5);
}

/* searchBar i */

#searchBar i{
    width: 8%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

/* searchBar input[type=search] */

#searchBar input[type=search]{
    width: 46%;
    margin: 2px 0px;
    border: none;
    font-size: 20px;
    font-family: Raleway-Medium;
}

/* searchBar input[type=button] */

#searchBar input[type=button]{
    width: 46%;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: white;
    background-color: #0065FC;
}

/* filterBar ---------------------------------------------------*/

#filterBar{
    width: 75%;
    margin-top: 3%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* filterBar filter */

#filterBar .filter{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* filter icon i */

.filter .icon i{
    height: 55px;
    width: 55px;
    margin-right: -40px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
}

/* filter filterText */

.filter .filterText{
    padding: 5px;
    position: relative;
    z-index: 0;
    border: 2px solid black;
    border-radius: 30px;
}

/* filter filterText:hover */

.filter .filterText:hover{
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

/* filter filterText h2 */

.filter .filterText h2{
    margin: 0px 15px 0px 40px;
    color: black;
}

/* infoBar ---------------------------------------------------*/

#infoBar{
    width: 97.5%;
    margin-top: 3%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* infoBar i */

#infoBar i{
    height: 55px;
    width: 55px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
}

/* infoBar h3 */

#infoBar h3{
    margin-left: 15px;
    color: grey;
}

/* hotelContainer ---------------------------------------------------*/

#hotelContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* hotelBox ---------------------------------------------------*/

#hotelBox{
    width: 69.5%;
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.5);
}

/* hotelBox h2 */

#hotelBox h2{
    margin: 1vh 0px 0px 1vw;
}

/* hotelBox showMore */

#hotelBox #showMore{
    margin: 15px;
}

/* hotelResult ---------------------------------------------------*/

#hotelResult{
    width: 94%;
    margin: 0px 3% 3% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* hotelResult a */

#hotelResult a{
    height: fit-content;
    width: 30%;
    color: black;
}

/* hotelResult a:focused */

#hotelResult a:visited{
    color: black;
}

/* hotel ---------------------------------------------------*/

.hotel{
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.5);
    border-radius: 15px;
}

/* hotel photo ---------------------------------------------------*/

.hotel .photo{
    width: 100%;
}

/* hotel photo img */

.hotel .photo img{
    height: 200px;
    width: 100%;
    object-fit: cover;
}

/* hotel details ---------------------------------------------------*/

.hotel .details{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* hotel details hotelName ---------------------------------------------------*/

.hotel .details .hotelName{
    width: 100%;
}

/* hotel details hotelName h3 */

.hotel .details .hotelName h3{
    font-family: Raleway-Bold;
}

/* hotel details hotelPrice */

.hotel .details .hotelPrice{
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* hotel details hotelPrice h3 */

.hotel .details .hotelPrice h3{
    color: grey;
}

/* hotel details hotelPrice h3 strong */

.hotel .details .hotelPrice h3 strong{
    font-family: Raleway-Bold;
    color: black;
}

/* hotel details hotelRating */

.hotel .details .hotelRating{
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* hotel details hotelRating */

.hotel .details .hotelRating i{
    font-size: 100%;
    color: #0065FC;
}

/* mostPopularHotelBox ---------------------------------------------------*/

#mostPopularHotelBox{
    width: 21.5%;
    margin-top: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 15px;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.5);
}

/* mostPopularHotelBox h2 */

#mostPopularHotelBox h2{
    margin: 1vh 0px 0px 1vw;
}

/* mostPopularHotelResult ---------------------------------------------------*/

#mostPopularHotelResult{
    height: 90%;
    width: 94%;
    margin: 0px 3% 3% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#mostPopularHotelResult a{
    height: 25%;
    width: 94%;
    color: black;
}

/* mostPopularHotelResult a:focused */

#mostPopularHotelResult a:visited{
    color: black;
}

/* hotel ---------------------------------------------------*/

#mostPopularHotelBox #mostPopularHotelResult .hotel{
    height: 100%;
    width: 100%;

    padding: 15px;
    display: flex;
    flex-direction: row;
    background-color: white;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.5);
    border-radius: 15px;
}

/* hotel photo ---------------------------------------------------*/

#mostPopularHotelBox #mostPopularHotelResult .hotel .photo{
    height: 100%;
    width: 40%;
}

/* hotel photo img */

#mostPopularHotelBox #mostPopularHotelResult .hotel .photo img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* hotel details ---------------------------------------------------*/

#mostPopularHotelBox #mostPopularHotelResult .hotel .details{
    width: 60%;
    display: flex;
    flex-direction: column;
}

/* hotel details hotelName ---------------------------------------------------*/

#mostPopularHotelBox #mostPopularHotelResult .hotel .details .hotelName{
    width: 100%;
}

/* hotel details hotelName h3 */

#mostPopularHotelBox #mostPopularHotelResult .hotel .details .hotelName h3{
    font-family: Raleway-Bold;
}

/* hotel details hotelPrice */

#mostPopularHotelBox #mostPopularHotelResult .hotel .details .hotelPrice{
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* hotel details hotelPrice h3 */

#mostPopularHotelBox #mostPopularHotelResult .hotel .details .hotelPrice h3{
    color: grey;
}

/* hotel details hotelPrice h3 strong */

#mostPopularHotelBox #mostPopularHotelResult .hotel .details .hotelPrice h3 strong{
    font-family: Raleway-Bold;
    color: black;
}

/* hotel details hotelRating */

#mostPopularHotelBox #mostPopularHotelResult .hotel .details .hotelRating{
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* hotel details hotelRating */

#mostPopularHotelBox #mostPopularHotelResult .hotel .details .hotelRating i{
    font-size: 100%;
    color: #0065FC;
}

/* activityContainer ---------------------------------------------------*/

#activityContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* activityContainer h2 */

#activityContainer h2{
    margin-top: 3%;
    margin-left: 3%;
}

/* activityBox */

#activityBox{
    height: 600px;
    width: 94%;
    margin: 3% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* activityGroup */

.activityGroup{
    height: 100%;
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* activity */

.activity{
    width: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.5);
}

/* activity01 activity04 */

#activity01, #activity04{
    height: 100%;
}

/* activity01 img + activity04 img */

#activity01 img, #activity04 img{
    height: 90%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

/* activity01 h3 + activity04 h3 */

#activity01 h3, #activity04 h3{
    margin: 15px;
}

/* activity02 activity03 activity05 activity06 */

#activity02, #activity03, #activity05, #activity06{
    height: 48%;
}

/* activity02 img activity03 img activity05 img activity06 img */

#activity02 img, #activity03 img, #activity05 img, #activity06 img{
    height: 80%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}

/* activity02 h3 activity03 h3 activity05 h3 activity06 h3 */

#activity02 h3, #activity03 h3, #activity05 h3, #activity06 h3{
    margin: 15px;
}

/* footer ---------------------------------------------------*/

footer{
    width: 100%;
    background-color: #F2F2F2;
}

/* footer footerContainer */

footer #footerContainer{
    width: 75%;
    margin: 0px auto 0px 1.5%;
    display: flex;
    flex-direction: row;
}

/* footer footerItem */

footer .footerItem{
    width: 33%;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

/* footer footerItem label */

footer .footerItem label{
    font-family: Raleway-Bold;
}

/* footer footerItem ul */

footer .footerItem ul{
    display: flex;
    flex-direction: column;
}

/* footer footerItem ul li */

footer .footerItem ul li{
    margin-top: 15px;
    color: grey;
}