/* all page ---------------------------------------------------*/

*{
    box-sizing: border-box;
}

/* general class ---------------------------------------------------*/

/* all h */

/* h1 */

h1{
    font-family: Raleway-Bold;
}

/* h2 */

h2{
    font-family: Raleway-Medium;
}

/* h3 */

h3{
    font-family: Raleway-Regular;
}

/* text */

.text{
    margin: 0px;
    padding: 0px;
}

/* ul */

ul{
    margin: 0px;
    padding: 0px;
}

/* li */

li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* a */

a{
    text-decoration: none;
}

/* body ---------------------------------------------------*/

body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

/* header ---------------------------------------------------*/

header{
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* logoAndText ---------------------------------------------------*/

#logoAndText{
    width: 50%;
    display: flex;
    flex-direction: column;
}

/* logoAndText img */

#logoAndText img{
    width: 30%;
    margin-left: 5%;
}

/* logoAndText h1 */

#logoAndText h1{
    margin-left: 5%;
}

/* logoAndText h2 */

#logoAndText h2{
    margin-left: 5%;
    color: grey;
}

/* nav ---------------------------------------------------*/

nav{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* nav ul */

nav ul{
    width: 50%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* nav ul li */

nav ul li{
    height: fit-content;
    padding-top: 3%;
}

/* nav ul li:hover */

nav ul li:hover{
    border-top: 3px solid #0065FC;
}

/* nav ul li h1 */

nav ul li h1{
    color: #0065FC;
}

/* utilities ---------------------------------------------------*/

#utilities{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* searchBar ---------------------------------------------------*/

#searchBar{
    width: 25%;
    margin-top: 3%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: #F2F2F2;
    border-radius: 15px;
}

/* searchBar i */

#searchBar i{
    width: 8%;
    margin: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

/* searchBar input[type=search] */

#searchBar input[type=search]{
    width: 46%;
    margin: 2px 0px;
    border: none;
    font-size: 20px;
    font-family: Raleway-Medium;
}

/* searchBar input[type=button] */

#searchBar input[type=button]{
    width: 46%;
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: white;
    background-color: #0065FC;
}

/* filterBar ---------------------------------------------------*/

#filterBar{
    width: 75%;
    margin-top: 3%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* filterBar filter */

#filterBar .filter{
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* filter icon i */

.filter .icon i{
    height: 55px;
    width: 55px;
    margin-right: -40px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 50%;
}

/* filter filterText */

.filter .filterText{
    padding: 5px;
    position: relative;
    z-index: 0;
    border: 2px solid black;
    border-radius: 30px;
}

/* filter filterText:hover */

.filter .filterText:hover{
    background-color: #0065FC;
    color: white;
    cursor: pointer;
}

/* filter filterText h2 */

.filter .filterText h2{
    margin: 0px 15px 0px 40px;
    color: black;
}

/* infoBar ---------------------------------------------------*/

.infoBar{
    width: 97.5%;
    margin-top: 3%;
    margin-left: 2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* infoBar i */

.infoBar i{
    height: 55px;
    width: 55px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    background-color: #DEEBFF;
    border-radius: 50%;
}

/* infoBar h3 */

.infoBar h3{
    margin-left: 15px;
    color: grey;
}